*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  margin: 40px;
  display: block;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
  h3{
    margin: 15px;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #2980b9;
  }